<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xmlmodel -->
      <package
            uri="http://swift-modelling.org/test/orders/1.0"
            class="org.example.orders.OrdersPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated xmlmodel -->
      <parser
            type="orders"
            class="org.example.orders.util.OrdersResourceFactoryImpl"/>
   </extension>

</plugin>
